.nd-login-title h1 {
    font-size: var(--awc-space-400);
    text-align: center;
    padding-top: var(--awc-space-500) !important;
}
.form-check{
    font-size: var(--awc-space-350);
}
.nd-admin-login .form-check-input {
    border: 1px solid var(--awc-black) !important;
}
.form-check-input {
    width: 1.3em !important;
    height: 1.3em !important;
}
.nd-admin-login label {
    font-size: var(--awc-space-300);
}

.form-check-label {
    color: var(--awc-black);
    font-weight: 500;
}
.awc-banner-p{
    padding-right: var(--awc-space-300);
}
.nd-form-control{
    font-size: var(--awc-space-300);
}
.form-check1{
    padding-top: var(--awc-space-350);
}
.nd-admin-btn {
    text-align: center;
}
.awc-admin-subtitle {
    color: var(--awc-black);
    font-size: var(--awc-space-450);
    font-weight: 600;
}

.nd-primary{
    width: 100%;
}
.awc-border{
    margin: -3px !important;
}

@media (max-width: 844px) {

    .form-check {
        margin-top:
        12px;
    }
}
