.awc-fillter-box {
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    padding: 12px;
    border-radius: var(--awc-space-200);
    text-align: center;
}

.awc-after-fillter {
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    margin-top: var(--awc-space-300);
    padding: 12px;


}

.create-group-btn {
    font-size: var(--awc-space-300);
}

.awc-select-opn {
    font-size: var(--awc-space-300);

}

.awc-accordin-title {
    color: blue;
}

.accordion-body {
    padding: 8px !important;
}

button.accordion-button.collapsed {
    background-color: #4a525a;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    color: var(--awc-white);
    border-radius: var(--awc-space-200);
    font-size: var(--awc-space-350);
}

.awc-lebel-btn {
    display: flex;
    justify-content: end;
}

.create-submit-btn {
    background-color: var(--awc-orange);
    border: var(--awc-space-25) var(--awc-orange);
    font-size: var(--awc-space-300);
}

.create-submit-btn:hover {
    background-color: #dd791d !important;
}

.create-group-btn {
    background-color: var(--awc-gray);
    border: var(--awc-space-25) var(--awc-gray);

}

.accordion-button:not(.collapsed) {
    /* custom */
    background-color: #4a525a !important;
    font-size: var(--awc-space-350);

}

.accordion-item:first-of-type {
    border-radius: var(--awc-space-200);
}

.awc-bills-box1 {
    padding: var(--awc-space-300);
    border-radius: var(--awc-space-200);
    text-align: center;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    margin: var(--awc-space-100);
}

.awc-bills-box {
    padding: var(--awc-space-300);
    border-radius: var(--awc-space-200);
    text-align: center;
    margin: var(--awc-space-100);
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
}

.awc-bills {
    display: flex;
    justify-content: space-between;
}

.accordion-button::after {
    background-image: url("../images/down-arrow.svg") !important;
    background-size: contain;
    width: 20px;
    height: 20px;

}

.awc-label-title {
    display: flex;
    justify-content: left;
    font-size: var(--awc-space-300);
    padding-bottom: var(--awc-space-200);
}

.awc-request-span {
    font-size: var(--awc-space-250);
    color: var(--awc-red);
}

textarea.form-control {
    font-size: var(--awc-space-250);
}

@media only screen and (max-width: 568px) {
    .awc-bills-box1 {
        padding: var(--awc-space-300) var(--awc-space-100) var(--awc-space-100) var(--awc-space-100);

    }

    .awc-bills-box {
        padding: var(--awc-space-300) var(--awc-space-100) var(--awc-space-100) var(--awc-space-100);

    }
}