.nd-footer-data {
 margin-top: var(--awc-space-300);
}
.nd-footer-data p {
    text-align: center;
    color: var(--awc-black);
    font-size: var(--awc-space-300);
    margin-bottom: var(--awc-space-0) !important;
}
.nd-Login-footer p{
    color: var(--awc-white) !important;
}
.nd-footer-data  a{
    text-decoration: none;
    color: var(--awc-black);
}
.nd-footer-data  a:hover{
    color: var(--awc-blue);
}
.nd-footer-data p:hover{
    color: var(--awc-blue);
}