.awc-modal-title {

    font-size: var(--awc-space-400);
    color: #0b62bb;
    font-weight: 800;

}
.modal-header{
    
    color: var(--awc-black);
    font-weight: 600;
}
.btn-close {
    background-color: var(--awc-blue) !important;
    opacity: 100%;
    background-image: none;
    padding-top: var(--awc-space-100) !important;
    padding-bottom: var(--awc-space-300) !important;
}
.awc-primary-btn{
    font-size: var(--awc-space-300);
    background-color: var(--awc-blue);
    border: var(--awc-space-25) var(--awc-blue);
    padding: var(--awc-space-250);
}
.awc-primary-btn:hover{
    background-color: var(--awc-blue-hover);
}
.awc-modal-label{
    font-size: var(--awc-space-350);
    font-weight: 600;
   
}
.awc-modal-label:hover{
    color: var(--awc-black);
}
.awc-forgot-input{
    font-size: var(--awc-space-300);
}
.awc-modal-body{
padding: var(--awc-space-300);
}
.btn-close::after {
    content: "X";
    color: var(--awc-white);
}
.awc-label-input{
    font-size: var(--awc-space-300);
}