.awc-dashboard-title {

    padding: var(--awc-space-400);
    background-repeat: no-repeat;
    border-radius: var(--awc-space-200);
    background-color: #5886FF;
}

.awc-dashboard-title h1 {
    font-size: var(--awc-space-700);
    color: var(--awc-white);
    font-weight: 600;
}

.awc-dashboard-title p {
    font-size: var(--awc-space-300);
    color: var(--awc-white);
    text-align: justify;
    word-wrap: break-word;

}

.aws-data {
    padding: var(--awc-space-300) var(--awc-space-400) var(--awc-space-750) var(--awc-space-400);
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    background-color: var(--awc-white);
    border-radius: var(--awc-space-200);
}

.aws-data-container {
    flex-wrap: wrap;
    /* padding: var(--awc-space-300) var(--awc-space-400) var(--awc-space-750) var(--awc-space-400); */
    padding: var(--awc-space-300);
    margin-top: -36px;
}

.awc-project-icon {
    background-color: var(--awc-orange);
    padding: var(--awc-space-200);
    width: 52px;
    font-size: var(--awc-space-750);
    border-radius: var(--awc-space-200);
}

.awc-data-body {
    display: flex;
    justify-content: space-between;
    margin-top: var(--awc-space-1000);
    line-height: var(--awc-space-0);
}

.aws-data h2 {
    font-size: var(--awc-space-450);
    font-weight: 600;
}

.awc-data-body p {
    font-size: var(--awc-space-350);
    color: var(--awc-orange);
    font-weight: 600;
}

.awc-data-body h3 {
    font-size: var(--awc-space-400);
}

.awc-mt {
    margin-top: var(--awc-space-300);
}

.awc-table-heading h2 {
    font-size: var(--awc-space-400);
    color: var(--awc-off-black);
    margin-top: var(--awc-space-200);


}

.awc-table-heading h1 {
    font-size: var(--awc-space-500);
    color: var(--awc-black);

}

.awc-table-heading {

    padding: 0px 8px 8px 8px;
}

.awc-thead th {
    background-color: var(--awc-orange) !important;
    font-size: var(--awc-space-300);
    color: var(--awc-white);
    font-weight: 500;
    vertical-align: top;

}



.table-container-box {
    box-shadow: 0 4px 6px #C4C4C480;

    border-radius: var(--awc-space-200);
}

.box-container-table {
    flex-wrap: wrap;
    border: 1px solid var(--awc-border);
    background-color: var(--awc-white);
    border-radius: var(--awc-space-200);
    padding: var(--awc-space-400);
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
}