.text-bold-clr{
    font-weight: bold;
}

.awc-purskar-alert h2{
    font-size: var(--awc-space-350);
    padding: 8px;
    
}
.awc-finance-mobresp {
    display: flex
;
    justify-content: space-between;
}