.awc-btn-money {
    font-size: var(--awc-space-350);
    background-color: transparent;
    border: none;
    height: 28px;
    padding-left: var(--awc-space-100);
}

.awc-btn-money:hover {
    background-color: transparent;
    border: none;


}

.nd-btn-district {
    color: var(--awc-off-black);
}

.nd-btn-district:hover {
    color: var(--awc-blue);
}

.awc-buget-subheading h2 {
    font-size: var(--awc-space-350);
}

.awc-buget-sub-btn {
    font-size: var(--awc-space-350);
    background-color: var(--awc-gray);
    border: var(--awc-space-25) var(--awc-gray) solid;
}

.awc-buget-sub-btn:hover {
    background-color: var(--awc-gray);
    border: var(--awc-space-25) var(--awc-gray) solid;
}

.awc-buget-heading {
    font-size: var(--awc-space-350);
}

.note-text {
    font-size: var(--awc-space-250);
    color: var(--awc-Primary);

}

.m-right {
    margin-right: var(--awc-space-500);
}

.awc-buget-cls-btn {
    justify-content: center;
}

