.nd-btn-district-btnn {
    color: var(--awc-off-black);
    text-decoration: underline;
}

.nd-btn-district-btnn:hover {
    color: var(--awc-blue);
}

.awc-buget-subheading h2 {
    font-size: var(--awc-space-350);
}

.awc-buget-sub-btn {
    font-size: var(--awc-space-350);
    background-color: var(--awc-gray);
    border: var(--awc-space-25) var(--awc-gray) solid;
}

.awc-buget-sub-btn:hover {
    background-color: var(--awc-gray);
    border: var(--awc-space-25) var(--awc-gray) solid;
}

.awc-buget-heading {
    font-size: var(--awc-space-350);
}

.note-text {
    font-size: var(--awc-space-250);
    color: var(--awc-Primary);
    padding-top: var(--awc-space-25);

}

.note-text p {
    font-size: var(--awc-space-200);
    color: var(--awc-Primary);
}

.m-right {
    margin-right: var(--awc-space-500);
}

.awc-buget-cls-btn {
    justify-content: center;
}

.note-text-view {
    font-size: var(--awc-space-250);
    color: var(--awc-black);
}

@media only screen and (max-width: 568px) {
    .modal-body {
        padding-top: var(--awc-space-0) !important;
    }


}