.awc-allready p {
    font-size: var(--awc-space-250);
    color: var(--awc-blue-off);
    font-weight: 600;
}
.go-back-arrow{
    margin-right: 2px;
    font-size: 20px;
}
.dpo-back-btn {
    font-size: var(--awc-space-300);
    background-color: var(--awc-gray);
    border: var(--awc-space-25) var(--awc-blue);
    padding: var(--awc-space-200);
    margin-left: var(--awc-space-400);
}
.form-control{
    font-size: var(--awc-space-300);
}
