/* body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    backgrouawc-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    backgrouawc-color: var(--awc-blue-light-bg);
  } */
  
  /* svg {
      fill: #0d77cb;
    } */
  :root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
  }
  
  :root {
    --awc-white: #ffffff;
    --awc-black: #000000;
    --awc-Primary: #ED3338;
    --awc-red-dark: #ac0a0f;
    --awc-seconadry: #a0a0a0;
    --awc-seconadry-hover: #807d7d;
    --awc-primary-hover: #cd1d22;
    --awc-blue-hover: #1d529e;
    --awc-primary-off-white: #EFF0F2;
  
    --awc-blue: #1976D2;
    --awc-border: #B9C9D3;
    --awc-off-black: #154351;
    --awc-blue-light-bg: #E0EEFB;
    --awc-blue-dark-bg: #023B6D;
    --awc-orange: #ff6b0a;
    --awc-orange-border: #f9b115;
    --awc-green-border: #59822c;
    --awc-gray: #444a50;
    --awc-blue-dark: #152036;
    --awc-bg-green: #278557;
    --awc-bg-green-hover: #41956c;
    --awc-bg-dark-green: #166a41;
    --awc-bg-light-green: #41956c;
    --awc-bg-light-hover: #166a41;
  
  
    /* custom padding aawc margin*/
    --awc-space-0: 0px;
    --awc-space-25: 1px;
    --awc-space-50: 2px;
    --awc-space-100: 4px;
    --awc-space-175: 5px;
    --awc-space-150: 6px;
    --awc-space-200: 8px;
    --awc-space-250: 10px;
    --awc-space-300: 12px;
    --awc-space-350: 14px;
    --awc-space-400: 16px;
    --awc-space-450: 18px;
    --awc-space-500: 20px;
    --awc-space-550: 22px;
    --awc-space-600: 24px;
    --awc-space-700: 28px;
    --awc-space-800: 32px;
    --awc-space-900: 36px;
    --awc-space-1000: 40px;
    --awc-space-1100: 44px;
    --awc-space-1200: 48px;
  }

  .awc-login-col{
    padding: 0px;
  }
  
  