/* body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    backgrouawc-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    backgrouawc-color: var(--awc-blue-light-bg);
  } */
  
  /* svg {
      fill: #0d77cb;
    } */
  :root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
  }
  
  :root {
    --awc-white: #ffffff;
    --awc-black: #000000;
    --awc-Primary: #ED3338;
    --awc-red:#ff0000;
    --awc-red-dark: #ac0a0f;
    --awc-seconadry: #a0a0a0;
    --awc-seconadry-hover: #807d7d;
    --awc-primary-hover: #cd1d22;
    --awc-blue-hover: #1d529e;
    --awc-blue-bg: #1976d2;
    --awc-primary-off-white: #EFF0F2;
    --awc-gray-off:#767676;
    --awc-dark-gray:#4a525a;
    
  
    --awc-blue: #1976D2;
    --awc-border: #B9C9D3;
    --awc-off-black: #154351;
    --awc-blue-light-bg: #E0EEFB;
    --awc-blue-bg: #0B62BB;
    --awc-blue-hover: #0b5ed7;
    --awc-orange: #EA9343;
    --awc-orange-border: #f9b115;
    --awc-green-border: #59822c;
    --awc-button-bg: #87BE7E;
    --awc-green-off: #87BE7E;
    --awc-gray: #444a50;
    --awc-blue-dark: #152036;
    --awc-bg-green: #278557;
    
  
  
    /* custom padding aawc margin*/
    --awc-space-0: 0px;
    --awc-space-25: 1px;
    --awc-space-50: 2px;
    --awc-space-100: 4px;
    --awc-space-175: 5px;
    --awc-space-150: 6px;
    --awc-space-200: 8px;
    --awc-space-250: 10px;
    --awc-space-300: 12px;
    --awc-space-350: 14px;
    --awc-space-400: 16px;
    --awc-space-450: 18px;
    --awc-space-500: 20px;
    --awc-space-550: 22px;
    --awc-space-600: 24px;
    --awc-space-650: 25px;
    --awc-space-700: 28px;
    --awc-space-750: 30px;
    --awc-space-800: 32px;
    --awc-space-900: 36px;
    --awc-space-950: 36px;
    --awc-space-1000: 40px;
    --awc-space-1100: 44px;
    --awc-space-1200: 48px;
  }

  .modal-footer{
    justify-content: center !important;
  }

  .shadow1 {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.10);
  }
.awc-form-box p{
  font-size: var(--awc-space-300);
  color: var(--awc-red);
}
  .awc-login-col{
    padding: 0px;
  }
  .awc-nav a{
    text-decoration: none;
  }
  .awc-logout{
    font-size: var(--awc-space-400);
  }
  .awc-control-chooce{
    background-color: #b4b4b4;

  }
  .table-responsive-lg {
    overflow: auto;
  }
  .awc-pading-next{
    display: flex;
    justify-content: end;
    margin-top: 8px;
  }
  .tech-staff-perviose{
    font-size: var(--awc-space-300);
    margin-top: var(--awc-space-150);
  }
  ul.awc-paging.pagination .page-item{
font-size: 4px;
  }
  .page-link {
    font-size: var(--awc-space-250);
    color: var(--awc-black);
  }
  .active>.page-link, .page-link.active{
    background-color: var(--awc-orange);
    border: var(--awc-space-25) var(--awc-orange);
  }
  
  @media only screen and (max-width: 568px){
    img.logo1 {
      width: 45px;
      display: none;
  }
   .search{
    width: 160px !important;
   }
   .awc-form-box{
    padding: 0px !important;
   }
   .awc-staff-mobresp{
    display: block !important;
   }
   .awc-after-fillter{
    padding:  var(--awc-space-0) !important;
   }
   .awc-banner-p{
    padding-right: var(--awc-space-0) !important;
}
  }
  
  