.awc-finance-body {

    margin-top: var(--awc-space-400);
    line-height: var(--awc-space-500);

}

.awc-dpo-icon-finace {
    background-color: #b0b435;
    padding: var(--awc-space-100) var(--awc-space-250) var(--awc-space-100) var(--awc-space-250);
    width: 52px;
    font-size: var(--awc-space-750);
    border-radius: var(--awc-space-200);
}

.awc-finance-body p {
    font-size: var(--awc-space-350);
    color: var(--awc-blue-off);
    font-weight: 600;
}

.awc-finance-body h3 {
    font-size: var(--awc-space-400);
    color: var(--awc-blue-dark-bg);
}

.finance-data {
    display: flex;
    justify-content: flex-end;
}

.awc-dashbord-data {
    font-size: var(--awc-space-300);
}

.dpo-data1 {

    height: 170px;
}

.finace-icon-clr {
    color: var(--awc-white);
}

.awc-allot-heading h2 {
    font-size: var(--awc-space-400)
}

.awc-allot-heading ol li {
    font-size: var(--awc-space-300);
}

.finance-thead th {
    background-color: #b0b435 !important;
    font-size: var(--awc-space-300);
    color: var(--awc-white);
    font-weight: 500;
    vertical-align: bottom;
}

.finance-paging .active>.page-link,
.page-link.active {
    background-color: #b0b435;
    border: var(--awc-space-25) #b0b435 solid;
    color: var(--awc-white) !important;
}

.clc-bnn {
    background-color: transparent;
    border: 1px solid transparent;
    color: blue;
}

.biil-submit1 {
    text-align: center;
    padding: var(--awc-space-300);
}

.finace-label {
    font-size: var(--awc-space-300);
}

.awc-finance-title {
    padding: var(--awc-space-400);
    background-repeat: no-repeat;
    border-radius: var(--awc-space-200);
    /* background: linear-gradient(-45deg, rgba(147, 26, 222, 0.83) 0%, rgba(28, 206, 234, 0.82) 100%);; */
    background-color: #b0b435;
}

.awc-finance-title h1 {
    font-size: var(--awc-space-700);
    color: var(--awc-white);
    font-weight: 600;
}

.awc-finance-title p {
    font-size: var(--awc-space-300);
    color: var(--awc-white);
    text-align: justify;
    word-wrap: break-word;
}

input#formBasicCheckbox {
    float: none;
    margin-right: var(--awc-space-300);
    border: 1px gray solid;
}

.awc-passbook-drop {
    width: 350px;
}

.History-heading {
    font-size: var(--awc-space-350);

}

.awc-close-primary-btn {
    background-color: var(--awc-gray);
    columns: var(--awc-white);
    font-size: var(--awc-space-300);
    border: 1px solid var(--awc-gray);
}

.awc-close-primary-btn:hover {
    background-color: var(--awc-black);
    border: 1px solid var(--awc-black);
}

.p-t-0px {
    padding-top: var(--awc-space-0) !important;
}

.form-check-label {
    color: var(--awc-black);
    font-size: var(--awc-space-300);
    font-weight: normal;
}

.awc-note-data {
    color: var(--awc-Primary);
    font-size: var(--awc-space-350);
    font-weight: 600;
}

.awc-amount {
    color: red;
    font-weight: 600;
}

@media (max-width: 767.98px) {
    .dpo-data1 {
        height: 171px !important;
    }
}

@media (max-width: 991.98px) {
    .dpo-data1 {
        height: 190px;
    }
}