.awc-project-detail p{
    font-size: var(--awc-space-300);
    font-weight: 500;
    margin-bottom: var(--awc-space-200);
}
.awc-bold{
    font-weight: bold;
}
.custom-icon{
    font-size: var(--awc-space-400);
    margin-right:var(--awc-space-200);
    color: var(--awc-black);
}
.awc-pdf-file{
    color: var(--awc-green);
    font-size: var(--awc-space-400)

}
.awc-btn-excel-print{
    font-size: var(--awc-space-300);
    padding: 6px 12px 6px 12px;
    background-color: purple;
    color: var(--awc-white);
    border: none;
}
.awc-btn-excel-print:hover{
    background-color: var(--awc-black);
}
.awc-dpo-btn-execl{
    font-size: var(--awc-space-300);
        padding: 6px 12px 6px 12px;
        background-color: var(--awc-gray);
        color: var(--awc-white);
        border: none;
    }
.awc-dpo-btn-execl:hover{
    background-color: var(--awc-black);
}
.awc-display-sub h1{
    font-size: var(--awc-space-400);
}
@media only screen and (max-width: 568px) {
.awc-allot-heading{
padding: var(--awc-space-200);
}
}